# Ignore all .env files
.env
.env.dev
.env.test
*.env.local
*.env.*.local
.phpunit.result.cache
/docker-compose.override.yml
/var/
/vendor/
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/bundles/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
